.gellary {
  width: 100%;
  padding: 3%;
  display: flex;

  flex-direction: column;
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    .sliderBtn{
      background-color: var(--mainColor3);
      color:#fff;
      font-size: 1.5rem;
      padding: 0.4rem 1.2rem;
      border-radius: 0.2rem;
      cursor: pointer;
      width: fit-content;
      margin: 1rem auto;
      animation: letterSpacing 0.8s linear 0s infinite  ;
    
    }
    .add {
      button {
        background: var(--mainColor3);
        color: var(--white);
        font-size: 1.4rem;
        padding: 0.5rem 1rem;
        font-weight: 600;
        outline: none;
        border-radius: 0.4rem;
        transition: 0.4s;
        border: none;
        cursor: pointer;
        &:hover {
          background: var(--mainColor2);
        }
      }
    }
    .gellaryContainer {
      margin-top: 1rem;
      overflow: hidden;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
      column-gap: 1.2rem;
      row-gap: 1.2rem;
    }
  }
}


@keyframes letterSpacing {
  0% {
    transform: scale(1);
  }
  50%{
    transform: scale(0.92);
  }
  100%{
    transform: scale(1);
  }
  
}