.rowResult {
  &.deleted {
    display: none;
  }
  td {
    border: 1px solid gray;

    &.action {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--mainColor3);
      height: 5.5rem;
      color: #fff;
      cursor: pointer;
      margin: auto 0;
      
      & > * {
        color: #fff;
        font-size: 1.8rem;
        
      }
    }
  }
}
