.topbar {
  width: 100%;
  height: 50px;
  display: flex;
  padding: 0rem 2%;
  justify-content: space-between;
  align-items: center;
  color: var(--black);
  background-color: var(--lightWhite);
  .logo {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .welcome {
    font-size: 1.1rem;
    font-weight: 500;
  }
  .icons {
    transform: scale(1.3);
    & > * {
      cursor: pointer;
      color: var(--mainColor4);
    }
  }
}
